/* SCROLL TO TOP */

#btnTop {
  display: none;
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 24px;
  right: 24px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  padding: 12px;
  padding-top: 4px;
}

#btnTop:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* CAROUSSEL */

#carouselCaptions{
  position: absolute;
  top:0;
  z-index: 0 !important;
}

#menu{
  z-index: 1 !important;
}


/* section1 */
.presenetation{
  background-color: blue;
}
.photo_presentation img{
  height:
}
