/* SCROLL TO TOP */

#btnTop {
  display: none;
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 24px;
  right: 24px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  padding: 12px;
  padding-top: 4px;
}

#btnTop:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* CAROUSSEL */

#carouselCaptions{
  position: absolute;
  top:0;
  z-index: 0 !important;
}

.carousel-item>img{
  height: 100vh;
  width: 100% !important;
  object-fit: cover !important;
}

#menu{
  z-index: 1 !important;
}
.line{
  background-color: #E89000;
  height: 2px;
  width: 65px;
}

/* section1 */
.presentation{
  background-color: blue;
}

/* main */
.tast{
  border: 1px black solid;
}
.best_and_good{
  background-color: red;
}
.special_menu{
  background-color: green;
}

/* carte de menu */
.our_menu{
  background-color: pink;
}

/* Testimonies */
.testimonies{
  background-color: darkgrey;
}

/* blog */
.blog{
  background-color: violet;
}

/* footer */
.finish{
  background-color: darkblue;
}
